# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Ambientes virtuais
.venv/
venv/
env/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
coverage.xml

# Chaves/tokens de teste que por acaso caírem aqui
*.pem
*.key

# IDE / SO
.idea/
.vscode/
.DS_Store
